<h1>Payment</h1>
<form action="/payment/results">
  <div>
    <label for="APR ">
      APR
    </label>

    <input id="APR " text="text" name="apr" placeholder="E.g. 1.5" autocomplete="off">
  </div>
  <div>
    <label for="Number of years">
      Number of years
    </label>

    <input id="Number of years" text="text" name="years" placeholder="E.g. 1.5" autocomplete="off">
  </div>

  <div>
    <label for="Principal">
      Principal
    </label>

    <input id="Principal" text="text" name="principal" placeholder="E.g. 4.5">
  </div>

  <button>
    Calculate monthly payment
  </button>
</form>
