<h1>Random Results</h1>
<dl>
  <dt>
    Min
  </dt>
  <dd>
    <%= @x%>
  </dd>

  <dt>
    Max
  </dt>
  <dd>
    <%= @y%>
  </dd>

  <dt>
    Random
  </dt>
  <dd>
    <%= @z%>
  </dd>
</dl>

<a href='/square/new'>
  Cal again
</a>
